# Verification [synopsys](https://www.youtube.com/watch?v=7A0V4puvVbc&list=PLA18F9B9E9316050E&index=13)
## 4.Ensure Gates will work
Verify the logic gate will do what you want with EDA tools
Simulation VCS

Timing Analysis PrimeTime

Testbench Generation Pioneer-NTB with VERA
